*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;

}
.btn{
    display: inline-block;
    background: black;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;    
}
.btn:hover{
    border: 1px solid black;
    border-radius: 30px;
    background: white;
    color: black;

}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
h4{
    color: #555;
    font-weight: normal;
}
.rating .fa{
    color: #ff523b;
}


/* ---------------All-Products Page------------------- */

select{
    border: 1px solid black;
    padding: 5px;
}
select:focus{
    outline: none;
}

/* -- ---------- single Products detail ----------- -- */
.single-product{
    /*margin-top: 80px;*/

}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid black;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: red;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-rol{
    flex-basis: 24%;
    cursor: pointer;
}
.ok2 .small-container .row .col-lg-3:hover{
    transform: translateY(-5px);
    transition: all ease-in-out 0.5s;
}
/* --------------- Media query FOR less than 600 screen siza -------------- */
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }
}

#detail{
    padding-top: -10px;
}